@import url('https://fonts.googleapis.com/css2?family=Merienda:wght@500;600;700;800&family=Roboto:wght@400;500;700&display=swap');
*{
    padding: 0;
    margin: 0;
    font-family: 'Poppins', sans-serif;
    box-sizing: border-box;
}
html{
    scroll-behavior: smooth;
}
body{
    overflow-x: hidden
}
.App{
    width: 100vw;
}

/* LOADER SPINNER DITO */


.loader-container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh; /* Full viewport height */
    background-color: transparent; /* Ensure no background color */
  }

  .loader {
    width: 48px;
    height: 48px;
    border: 5px solid;
    border-color: #181379 transparent;
    border-radius: 50%;
    display: inline-block;
    box-sizing: border-box;
    animation: rotation 1s linear infinite;
  }
  
  @keyframes rotation {
    0% {
      transform: rotate(0deg);
    }
    100% {
      transform: rotate(360deg);
    }
  } 

/* END LOADER SPINNER DITO */
